package views

templ Home(title string, message string) {
	<p>--|</p>
	@Layout(title) {
		<section>
			<h2>{ message }</h2>
			<p>This is a composable templ component.</p>
		</section>
	}
	<p>fff</p>
}
