package views

import( 
	"isydia.music/model"
 	"strings"
)

// This module contains components common to most pages.
/*

from the <html><head><body></body></head></html>,
to smaller

*/

// 404 Page
templ Layout(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title }</title>
			<link rel="stylesheet" href="/static/syaksa.css"/>
		</head>
		@NavBar()
		<body class="procyon_b rift">
			<header></header>
			<br/>
			<div class="body-text">
				@OpenDataStream03()
				<h1>...you've found a <a>Rift</a> in space...</h1>
				{ children... }
				@CloseDataStream03()
			</div>
			<footer></footer>
		</body>
	</html>
}

templ BasicText(text string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ "「⌞ ⁂ ⌝」" }</title>
			<link rel="stylesheet" href="/static/syaksa.css"/>
		</head>
		@NavBar()
		<body>
			<header></header>
			<br/>
			<div class="body-text">
				@OpenDataStream03()
				<p>{ text }</p>
				{ children... }
				@CloseDataStream03()
			</div>
			<footer></footer>
		</body>
	</html>
}

templ IsydiaLayout(collections []*model.Album) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ "Isydia" }</title>
			<link rel="stylesheet" href="/static/syaksa.css"/>
		</head>
		<body class={"collection-page isydia"}>
			@NavBar()
			<header>
				<h1><a href="/isydia">{ "Isydia" }</a></h1>
			</header>
			<br/>
			<div class="body-text">
				@OpenDataStream02()

				for _, collection := range collections {
					@NarrativeTable(collection.AlbumName, collection.Narratives)
				}

				@CloseDataStream01()
				{ children... }
			</div>
			<footer>
			</footer>
		</body>
	</html>
}

templ ProcyonLayout(collections []*model.Album) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ "Procyon B" }</title>
			<link rel="stylesheet" href="/static/syaksa.css"/>
		</head>
		<body class={"collection-page procyon_b"}>
			@NavBar()
			<header>
				<h1><a href="/procyon_b">{ "Procyon B" }</a></h1>
			</header>
			<br/>
			<div class="body-text">
				@OpenDataStream02()

				for _, collection := range collections {
					@NarrativeTable(collection.AlbumName, collection.Narratives)
				}

				@CloseDataStream01()
				{ children... }
			</div>
			<footer>
			</footer>
		</body>
	</html>
}


templ CollectionLayout(collection *model.Album) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ collection.AlbumText.EpisodeTitle }</title>
			<link rel="stylesheet" href="/static/syaksa.css"/>
		</head>
		<body class={lowerAndUnder(collection.AlbumName)+ " collection-page " + strings.Replace(strings.ToLower(collection.ArtistName), " ", "_", -1)}>
			@NavBar()
			<header>
				<h1><a href={"/"+lowerAndUnder(collection.ArtistName)}>{ collection.ArtistName }</a></h1>
			</header>
			<br/>
			<div class="body-text">
				@OpenDataStream02()
				<h2>{ collection.AlbumName }</h2>
				@NarrativeTable(collection.AlbumName, collection.Narratives)

				<p>{ collection.AlbumText.TaglineText }</p>
				@CloseDataStream01()
				{ children... }
			</div>
			<footer>
			</footer>
		</body>
	</html>
}

templ HubLayout(isydia, procyon_b []*model.ExternalLink) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Link Hub</title>
			<link rel="stylesheet" href="/static/syaksa.css"/>
		</head>
		<body>
			@NavBar()
			<header>
				<h1>Link Hub</h1> // eventually hide an easter egg here. perhaps something related to the Relays
			</header>
			<br/>
			<div class="body-text">
				@OpenDataStream02()
				@LinkTable("Isydia", isydia) // eventually have this split into multiple tables (Isydia, Procyon B, both, neither, etc.)
				@LinkTable("Procyon B", procyon_b) // eventually have this split into multiple tables (Isydia, Procyon B, both, neither, etc.)
				@CloseDataStream01()
				{ children... }
			</div>
			<footer>
			</footer>
		</body>
	</html>
}

// TODO: take in artist
templ AudioPlayer(item_name, artist string) {
	<audio id="audioPlayer" class={ "ac-" + item_name } controls>
		<source src={ "/static/audio/mp3/" + artist + "/" + item_name + ".mp3" } type="audio/mpeg"/>
		Your browser does not support the audio element.
	</audio>
}

// allow some pages to alter the destination of the nav bar links, or to add new ones.
templ NavBar() {
	<br/>
	<div class="nav-container">
		<!-- Site navigation.  -->
		<div class="navbar narrative-nav">
			<a class="navlink" href="/">Home</a>
			<a class="navlink" href="/narratives">Narratives</a>
			<a class="navlink" href="/updates">Updates</a>
			<a class="navlink" href="/purpose">Purpose</a>
			<a class="navlink" href="https://isydia.bandcamp.com/">Releases</a>
			<a class="navlink" href="/hub">Links</a>
			<a class="navlink" href="/credits">Attributes</a> // Credits for the project, and component pieces
		</div>
	</div>
}

templ Title(title, episode, tagline string) {
	<h1 class="track-name">{ title }</h1>
	<h2 class="episode"><b>{ episode }</b></h2>
	<h3 class="tagline"><small>{ tagline }</small></h3>
}

// TODO: when the global timer initiated by audio playback hits timestamp, the color of the text should change
templ TrackTime(episode, elapsed_time string, timestamp int) {
	<div class="track-time" id="-start">
		<b class="timestamp" data-time="0">---- { elapsed_time } ----</b>
		<br/>
		<i class="timestamp-episode">{ episode }</i>
	</div>
}

templ LinkTable(header string, attributes []*model.ExternalLink) {
	<table class="attribute-table">
		<tr>
			<th>{ header }</th>
			// <th>URL</th>
			// <th>Description</th>
		</tr>
		for _, attr := range attributes{
			<tr>
				//<td><img src={attr.Filename}></td>
				<td><a href={ attr.URL } target="_blank">{ attr.Name }</a></td>
				// <td>{ attr.Description }</td>
			</tr>
		}
	</table>
}


templ AssetTable(attributes []*model.Asset) {
	<table class="attribute-table">
		<tr>
			<th>Attribute</th>
			<th>Description</th>
		</tr>
		for _, attr := range attributes {
			<tr>
				//<td><img src={attr.Filename}></td>
				<td>{ attr.Creator }</td>
				<td>{ attr.Notes }</td>
				<td><a href={ attr.SourceURL } target="_blank">Source</a></td>
			</tr>
		}
	</table>
}

templ AssetLayout(collections []*model.Asset) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ "Procyon B" }</title>
			<link rel="stylesheet" href="/static/syaksa.css"/>
		</head>
		<body class={"collection-page procyon_b"}>
			@NavBar()
			<header>
				<h1>Credits</h1>
			</header>
			<br/>
			<div class="body-text">
				@OpenDataStream02()

					@AssetTable(collections)

				@CloseDataStream01()
				{ children... }
			</div>
			<footer>
			</footer>
		</body>
	</html>
}