package views

import "isydia.music/model"

// This module contains components common to most pages.
/*

from the <html><head><body></body></head></html>,
to smaller

*/

// 404 Page
templ Layout(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title }</title>
			<link rel="stylesheet" href="/static/syaksa.css"/>
		</head>
		@NavBar()
		<body>
			<header></header>
			<br/>
			<div class="body-text">
				@OpenDataStream03()
				<h1>...stepping through a <a>Rift</a> in space...</h1>
				{ children... }
				@CloseDataStream03()
			</div>
			<footer></footer>
		</body>
	</html>
}

templ BasicText(text string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ "「⌞ ⁂ ⌝」" }</title>
			<link rel="stylesheet" href="/static/syaksa.css"/>
		</head>
		@NavBar()
		<body>
			<header></header>
			<br/>
			<div class="body-text">
				@OpenDataStream03()
				<p>{ text }</p>
				{ children... }
				@CloseDataStream03()
			</div>
			<footer></footer>
		</body>
	</html>
}

templ CollectionLayout(collection *model.Album) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ collection.AlbumText.EpisodeTitle }</title>
			<link rel="stylesheet" href="/static/syaksa.css"/>
		</head>
		<body class="collection-page">
			@NavBar()
			<header>
				<h1>{ collection.AlbumName }</h1>
			</header>
			<br/>
			<div class="body-text">
				@OpenDataStream02()
				@NarrativeTable(collection.AlbumName, collection.Narratives)
				@CloseDataStream01()
				{ children... }
			</div>
			<footer>
				<p>{ collection.AlbumText.TaglineText }</p>
			</footer>
		</body>
	</html>
}

// TODO: take in artist
templ AudioPlayer(item_name, artist string) {
	<div class="audio-player">
		<audio id="audioPlayer" class={ "ac-" + item_name } controls>
			<source src={ "/static/audio/mp3/" + artist + "/" + item_name + ".mp3" } type="audio/mpeg"/>
			Your browser does not support the audio element.
		</audio>
	</div>
}

// allow some pages to alter the destination of the nav bar links, or to add new ones.
templ NavBar() {
	<br/>
	<div class="container nav-container">
		<!-- Site navigation.  -->
		<div class="navbar narrative-nav">
			<a class="navlink" href="/">Home</a>
			<a class="navlink" href="/narratives">Narratives</a>
			<a class="navlink" href="/updates">Updates</a>
			<a class="navlink" href="/purpose">Purpose</a>
			<a class="navlink" href="/releases">Releases</a>
			<a class="navlink" href="/hub">Links</a>
			<a class="navlink" href="/credits">Attributes</a> // Credits for the project, and component pieces
		</div>
	</div>
}

templ Title(title, episode, tagline string) {
	<h1 class="track-name">{ title }</h1>
	<h2 class="episode"><b>{ episode }</b></h2>
	<h3 class="tagline"><small>{ tagline }</small></h3>
}

// TODO: when the global timer initiated by audio playback hits timestamp, the color of the text should change
templ TrackTime(episode, elapsed_time string, timestamp int) {
	<div class="track-time" id="-start">
		<b class="timestamp" data-time="0">---- { elapsed_time } ----</b>
		<br/>
		<i class="timestamp-episode">{ episode }</i>
	</div>
}
