package views

templ Open() {
	<br/>
	<div class="text-header textends">
		⌞⁂⌝
		<br/>
		「⌞ ⁂ ⌝」
		<br/>
		「⌞-- ⁂ --⌝」
		<br/>
		「⌞--- ⁂ ---⌝」
		<br/>
		「⌞---- ⁂ ----⌝」
	</div>
	<br/>
}

templ Close() {
	<br/>
	<div class="text-header textends">
		「⌞---- ⁂ ----⌝」
		<br/>
		「⌞--- ⁂ ---⌝」
		<br/>
		「⌞-- ⁂ --⌝」
		<br/>
		「⌞ ⁂ ⌝」
		<br/>
		⌞⁂⌝
	</div>
	<br/>
}

templ OpenDataStream01() {
	<br/>
	<div class="text-header textends">
		⌞⁂⌝
		<br/>
		.
		<br/>
		..
		<br/>
		「...」
		<br/>
		⌞---- ⁂ ----⌝
	</div>
	<br/>
}

templ OpenDataStream02() {

	<br/>
	<div class="text-header textends">
		⌞⁂⌝
		<br/>
		/.\
		<br/>
		..
		<br/>
		「...」
		<br/>
		⌞---- ⁂ ----⌝
	</div>

	<br/>
}

templ OpenDataStream03() {
	<br/>
	<div class="text-header textends">
		⌞⁂⌝
		<br/>
		/.\
		<br/>
		/ .. \
		<br/>
		「...」
		<br/>
		⌞---- ⁂ ----⌝
	</div>
	<br/>
}

templ OpenDataStream_pd(){
	<div class="text-header textends">
            ⌞⁂⌝
            <br />
            「⌞ ⁂ ⌝」
            <br />
            「⌞-- ⁂ --⌝」
            <br />
            「⌞--- ⁂ ---⌝」
            <br />
            「⌞---- ⁂ ----⌝」
        </div>
	<br/>
}

templ CloseDataStream_pd(){
	<div class="text-header textends">
			「⌞---- ⁂ ----⌝」
			<br />
			「⌞--- ⁂ ---⌝」
			<br />
			「⌞-- ⁂ --⌝」
			<br />
			「⌞ ⁂ ⌝」
			<br />
			⌞⁂⌝
		</div>

	<br/>
}

templ CloseDataStream01() {
	<br/>
	<div class="text-header textends">
		⌞---- ⁂ ----⌝
		<br/>
		...
		<br/>
		..
		<br/>
		.
		<br/>
		⌞⁂⌝
	</div>
	<br/>
}

templ CloseDataStream02() {
	<br/>
	<div class="text-header textends">
		⌞---- ⁂ ----⌝
		<br/>
		「...」
		<br/>
		..
		<br/>
		\./
		<br/>
		.
		⌞⁂⌝
	</div>
}

templ CloseDataStream03() {
	<br/>
	<div class="text-header textends">
		「⌞---- ⁂ ----⌝」
		<br/>
		...
		<br/>
		\ .. /
		<br/>
		\./
		<br/>
		⌞⁂⌝
	</div>
}

templ CloseDataStream04() {
	<br/>
	<div class="text-footer textends">
		⌞.⌝
		<br/>
		..
		<br/>
		...
	</div>
	<div class="text-header textends">
		「⌞---- ⁂ ----⌝」
		<br/>
		...
		<br/>
		..
		<br/>
		.
		<br/>
		⌞⁂⌝
	</div>
}
